<h1>New Users Page</h1>
<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label> Email:
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </label>
  
  <br>

  <label> Password:
    <input type="password" name="user[password]" value="<%= @user.password %>">
  </label>

  <br>

  <input type="submit" value="Register">

</form>