@import url("styles/reset.css");

body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 24px;
}

.time-wrapper, .date-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
}

.clock {
  background-color: rgb(166, 252, 252);
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

.clock-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}